.list{
    color: #fff;
    margin: 20px 30px;
    background-color: #bf07ac;
    border-radius: 5px;
    padding: 10px;
}

.list button{
    border-radius: 5px;
    border: 0;
    background-color: aquamarine;
    cursor: pointer;
  }

.title{
    background: brown;
    padding: 5px;
    border-radius: 5px;
}  

.quantity{
    background: orange;
    padding: 5px;
    border-radius: 5px; 
    margin: 0px 10px;
}
