*{margin:0;
  padding:0;
  box-sizing: border-box;
  }
  
  .mainDiv{
    
  }
  
  .headerDiv{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 2px 5px 3px #ccc;
      height: 60px;
      color:rgb(93,188,210);
  }
   .logo{
   width: 60%;
   padding: 10px;
   float: left;
  }
  .menu{
      width: 20%;
      float: right;
      list-style-type: none;
  }
  .menu li{
      float: left;
      margin-left: 20px;
      font-size: 20px;
      line-height: 60px;
  }
  
  
  /*----inpputform -----*/
  
  .report{
      background-color:rgb(185,193,204);
      padding: 10px;
      color: white;
  }
  
  .formall{
      padding: 20px;
  }
  
  input[type=text], select {
      width: 100%;
      /* padding: 12px 20px; */
      margin: 8px 0;
      height: 30px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      color: white;
    }
    select{
      background-color: rgb(8,196,158);   
    }
   
    .radio-inline{
        margin-right: 200px;
        box-sizing: border-box;
    }
    
    /* .form-control{
         background-color: lawngreen; 
         text-align: right; 
        width: 100%;
        border: 1px solid #ccc;
        box-sizing: border-box;
    } */
    textarea{
        border-radius: 4px;
        width: 100%;
        border: 1px solid #ccc;
    }
    
  
    .formDiv {
     border: 1px solid rgb(185,193,204);
      width: 40%;
      margin: auto;
      border-radius: 5px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
  
    
    input[type=text] .attach {
      padding: 10px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: #f1f1f1;
      
    }
    
    .chbtn{
      float: left;
      /* margin-left: 367px; */
      /* margin-top: -37px; */
      /* margin-right: 20px; */
      margin-left: -104px;
      margin-top: 9px;
      z-index: 999;
      position: absolute;
      width: 8%;
      padding: 5px;
      height: 30px;
      background: #ccc;
      color: white;
      border: 1px solid #ccc;
      border-left: none;
      cursor: pointer;
    }
    
    .chbtn:hover {
      background: #0b7dda;
    }
    
   
  
    /* input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
     */
  
     .endForm{
         text-align: right;
         background-color: rgb(185,193,204);
         padding-right: 20px;
         padding-top: 15px;
         padding-bottom: 15px;
     }
     .submit  {
         font-size: 17px;
         padding: 10px 15px;
         border-radius: 5px;
         border: none;
         background-color: rgb(8,196,158);
         color: white;
  
     }
  
  